# Ignore build directories
.settings/
Debug/
Release/

# Ignore build artifacts
*.launch
*.o
*.map
*.d

# Ignore .bin and .elf globally
*.bin
*.elf

# Allow tracking of binaries in a specific folder for tagged releases
!releases/*.bin
!releases/*.elf